body{
    background: url('./346469.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
    /* overflow: hidden;  */
    /* text-align: center; */
    /* position: fixed; */
    /* background-color: blue; */
   
}

#row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
}

#row .card{
    margin:2rem;
    padding:1rem;
}
animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #b61aef 29%,
    #c71313 67%,
    #52ed0af4 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 2rem;
  margin-left: 10%;
  margin-bottom: 0px;
  
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

